.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.address-information {
  font-style: normal;
}

.container {
  width: 1200px;
  padding: 0 15px;
  align-items: center;
  margin: 0 auto;
}

.header .container {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.hero .container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  padding-right: 452px;
  padding-bottom: 200px;
  padding-left: 452px;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 3000ms cubic-bezier(0.165, 0.84, 0.44, 1), visibility 3000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 3000ms cubic-bezier(0.165, 0.84, 0.44, 1), visibility 3000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn {
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  width: 200px;
  height: 50px;
  color: #fff;
  background-color: #2196f3;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero__btn {
  padding: 10px 41px;
}

.newsletter__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__btn {
  margin: 0 auto;
}

.secondary-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  text-decoration: none;
  letter-spacing: 0.03em;
  margin-right: 93px;
  color: #2196f3;
}

.logo__accent-text {
  color: #2196f3;
}

.logo--light-theme {
  color: #212121;
}

.logo--dark-theme {
  color: #fff;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: #fff;
  border-radius: 4px;
  padding: 40px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  align-items: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
  width: 100%;
}

.form__label {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-top: 10px;
  height: 40px;
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus + .form__icon {
  outline: none;
  fill: #2196f3;
  border-color: #2196f3;
}

.form__input:focus {
  outline: none;
  border-color: #2196f3;
}

.form__icon {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
}

.form__wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.form__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 20px;
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
}

.form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea:focus {
  outline: none;
  border-color: #2196f3;
}

.form__checkbox {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}

.form__checkbox:checked + .form__statement::before {
  background-color: #2196f3;
  border: none;
  background-image: url("../images/icon-checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__link {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.form__statement {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.form__statement::before {
  display: inline-block;
  content: '';
  width: 16px;
  height: 16px;
  border: 2px solid #000;
  border-radius: 2px;
  margin-right: 8px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-header {
  align-items: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  width: 696px;
  padding-bottom: 30px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: #fff;
  fill: #afb1b8;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-left: 10px;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  fill: #fff;
  background-color: #2196f3;
}

.social__icon {
  width: 20px;
  height: 20px;
}

.social__header {
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
  padding-left: 10px;
}

.social__link--dark-theme {
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}

.social__link--dark-theme:hover, .social__link--dark-theme:focus {
  fill: #fff;
  background-color: #2196f3;
}

.social-links {
  margin-left: 70px;
}

.menu__item {
  margin-right: 46px;
}

.menu__item--active {
  color: #2196f3;
}

.menu__item--active::after {
  content: '';
  display: flex;
  position: absolute;
  top: 93px;
  height: 4px;
  width: 53px;
  border-radius: 2px;
  background-color: #2196f3;
  margin-right: 20px;
}

.menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
  fill: #757575;
  text-decoration: none;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:hover, .menu__link:focus {
  color: #2196f3;
}

.contact__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
  fill: #757575;
  text-decoration: none;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover, .contact__link:focus {
  fill: #2196f3;
  color: #2196f3;
}

.contact__icon {
  margin-right: 10px;
}

.contact__icon:first-child {
  margin-left: 30px;
}

.header {
  border: 1px solid #ececec;
}

.navigation,
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-background/background-img.jpg");
  background-repeat: no-repeat;
  background-size: 1600px;
  background-position: center;
}

.advantages {
  display: flex;
  justify-content: space-between;
}

.advantages__header {
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
  width: 270px;
  padding-top: 30px;
}

.advantages__header__header:not(:last-child) {
  margin-right: 30px;
}

.advantages__description {
  display: flex;
  text-align: left;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  width: 270px;
}

.advantages__icon {
  width: 70px;
  height: 70px;
  display: block;
}

.advantages__link {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  align-items: center;
  justify-content: center;
}

.about-us {
  padding-bottom: 94px;
}

.about {
  display: flex;
  justify-content: space-between;
}

.about__item {
  position: relative;
}

.about__item:not(:last-child) {
  margin-right: 30px;
}

.about__label {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  z-index: 1;
  margin-bottom: 0;
}

.team {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.team__name {
  padding-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

.team__job {
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.our-team {
  background-color: #F5F4FA;
}

.clients {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clients__logo {
  display: flex;
  width: 170px;
  height: 92px;
  background-color: #fff;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 10%;
  align-items: center;
  justify-content: center;
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__logo:hover, .clients__logo:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.clients__icon {
  width: 106px;
  height: 60px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.address {
  padding-top: 20px;
}

.address__link {
  font-size: 14px;
  line-height: 1.714;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  padding-top: 9px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.address__link--theme {
  color: #fff;
}

.newsletter {
  margin-left: 70px;
}

.newsletter__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.newsletter__input {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.newsletter__email {
  background: transparent;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-right: 12px;
  padding-left: 16px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter__email::placeholder {
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.newsletter__email:focus {
  border-color: #2196f3;
  outline: none;
  cursor: pointer;
}

.newsletter__icon {
  width: 24px;
  height: 24px;
  margin-left: 24px;
}

.buttons {
  display: flex;
  justify-content: center;
  padding-left: 510px;
  padding-right: 518px;
  margin-top: 94px;
  margin-bottom: 50px;
}

.buttons__name {
  padding: 6px 22px;
  color: transparent;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border-radius: 4px;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons__name:hover, .buttons__name:focus {
  color: #fff;
  background-color: #2196f3;
  cursor: pointer;
}

.buttons__item {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons__item:not(:last-child) {
  padding-right: 8px;
}

.buttons__item:hover, .buttons__item:focus {
  box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
}

.cards {
  margin-bottom: 94px;
}

.projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 34px;
}

.box {
  position: relative;
  width: 370px;
  height: 294px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  overflow: hidden;
}

.projects__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-top: 20px;
  padding-left: 24px;
}

.projects__description {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 4px;
  margin-bottom: 20px;
  padding-left: 24px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(33, 150, 243, 0.9), rgba(33, 150, 243, 0.9));
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay__text {
  color: #fff;
  margin: 0;
  position: absolute;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  padding-top: 49px;
  padding-right: 45px;
  padding-bottom: 49px;
  padding-left: 24px;
}

.projects__item {
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 30px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__item:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects__item:hover .overlay {
  transform: translatey(0);
}
/*# sourceMappingURL=main.css.map */