 .hero {
         background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url('../images/hero-background/hero-bg-mobile.jpg');
            background-size: cover;
        //  background-repeat: no-repeat;
        background-size: 480px 400px;
        
     
      
    
        
            //  padding-right: 73px;
            //  padding-bottom: 199px;
            //  padding-left: 42px;
        // 
        //  background-position: center;
        //  background-size: 480px 400px;
                
     
    //  @media screen and (min-width:320px) and (max-width: 767px){
    //      .hero{background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    //          rgba(47, 48, 58, 0.4)),
    //      url('../images/hero-background/hero-bg-mobile.jpg');
    //      }
         &__main-header {
             font-weight: 900;
             font-size: 26px;
             line-height: 1.615;
             text-align: center;
            //  width: 365px;
            //  align-items: center;
            //  justify-content: center;
            //  flex-wrap: wrap;
              letter-spacing: 0.06em;
              text-transform: uppercase;
              color: $white-color;
              padding-top: 118px;
             
              
              
              
              margin-bottom: 40px;
            //   padding-left: 57px;
            //   padding-right: 58px;
            //   margin: 0 auto;
              }
            
     &__btn {

    //             //  margin-top: 40px;
    // margin-bottom: 118px;
    //             // margin-left: auto;
    //             // margin-right: auto;
    // margin-left: 120px;
margin: 30px auto 0 auto;
display: block;
 padding: 10px 30px;

                 //     //  margin-left: 140px;
                 //     //  margin-right: 140px;

                //   }
            }}

     @media screen and (min-width:768px) {
              .hero {
                background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                     url('../images/hero-background/hero-bg-tablet.jpg');
             }
             }

    //  .main-header {
    //      font-weight: 900;
    //      font-size: 26px;
    //      line-height: 1.615;
    //      text-align: center;
    //       width: 365px;
        // align-items: center;
        // justify-content: center;
        // flex-wrap: wrap;
        //  letter-spacing: 0.06em;
        //  text-transform: uppercase;
        //  color: $white-color;
        //  padding-top: 118px;
        //  margin: 0 auto;
    //  }
    //  @media screen and (min-width:768px) {
    //      .hero {
    //          background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    //              url('../images/hero-background/hero-bg-tablet.jpg');
    //      }
    //     }
//    @media screen and (min-width:1200px) {
//        .hero {
//            background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//                url('../images/hero-background/background-img.jpg');
//        }
//          .main-header {
//              align-items: center;
//               font-weight: 900;
//              font-size: 44px;
//              line-height: 1.364;
//              text-align: center;
//               letter-spacing: 0.06em;
//              text-transform: uppercase;
//              color: $white-color;
//              width: 696px;
//              padding-bottom: 30px;
//          }
//          }


// .hero {
//     background-image: linear-gradient(rgba(47, 48, 58, 0.4),
//             rgba(47, 48, 58, 0.4)),
//         url('../images/hero-background/background-img.jpg');
//     background-repeat: no-repeat;
//     background-size: 1600px;
//     background-position: center;
// }