 @media screen and (min-width: 320px) and (max-width: 767px){
     
.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url('../images/hero-background/hero-bg-mobile.jpg');
    background-size: cover;
    // background-size: 480px 400px;
    background-repeat: no-repeat;
     margin: 0 auto;
max-width: 100%;
overflow-x: hidden;
        padding-top: 118px;
        padding-bottom: 118px;
    
}

 }

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url('../images/hero-background/hero-bg-tablet.jpg');
        background-size: cover;
        background-repeat: no-repeat;
     max-width: 100%;
     overflow-x: hidden;
            padding-top: 118px;
            padding-bottom: 118px;
        }
    }



@media screen and(min-width: 1200px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url('../images/hero-background/background-img.jpg');
        background-size: cover;
       
        background-repeat: no-repeat;
        
            padding-top: 200px;
            padding-bottom: 280px;
            //   padding-left: 452px;
            //     padding-right: 452px;
        
    }
    .main-header{
     height: 120px;
     width: 696px;
    font-size: 44px;
    line-height: 1.364;
    margin-left: auto;
    margin-right: auto;
text-align: center;

  }
    //  .main-header {
      
    //     font-weight: 900;
    //     font-size: 44px;
    // line-height: 1.364;
    // text-align: center;
    //     letter-spacing: 0.06em;
    //     text-transform: uppercase;
    //     color: $white-color;
    //      margin-left: auto;
    //      margin-right: auto;
    //       width: 696px;
    //     //   height: 120px;
        
    //      }
}







// //  @media (min-device-pixel-ratio: 2),
// //  (min-resolution: 192dpi),
// //  (min-resolution: 2dppx) {
// //      .hero {
// //          background-image: url('../images/hero-background/hero-bg-mobile@2x.jpg');
// //      }}
 
 
 
// //  @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px),
// //  screen and (min-resolution: 192dpi) and (min-width: 320px) and (max-width: 767px),
// //  screen and (min-resolution: 2dppx) and (min-width: 320px) and (max-width: 767px){
// //       .hero {
// //                     background-image: url('../images/hero-background/hero-bg-mobile@2x.jpg');
                   
// //                 }
// //  }
// //  @media screen and (min-width: 320px) and (max-width: 767px){
//  .hero {
//          background-image: linear-gradient(rgba(47, 48, 58, 0.4),
//                 rgba(47, 48, 58, 0.4)),
//             url('../images/hero-background/hero-bg-mobile.jpg');
//             background-size: cover;
//          background-repeat: no-repeat;
//         // background-size: 480px 400px;
//         overflow: auto;
//         background-position: center top;
//           padding-top: 118px;
//         padding-right: 43px;
//         padding-bottom: 118px;
//     padding-left: 43px;
       
        
     
      
    
        
//             //  padding-right: 73px;
//             //  padding-bottom: 199px;
//             //  padding-left: 42px;
//         // 
//         //  background-position: center;
//         //  background-size: 480px 400px;
                
     
//     //  @media screen and (min-width:320px) and (max-width: 767px){
//     //      .hero{background-image: linear-gradient(rgba(47, 48, 58, 0.4),
//     //          rgba(47, 48, 58, 0.4)),
//     //      url('../images/hero-background/hero-bg-mobile.jpg');
//     //      }
//         //  &__main-header {
//         //      font-weight: 900;
//         //      font-size: 26px;
//         //      line-height: 1.615;
//         //      text-align: center;
//             //  width: 365px;
//             //  align-items: center;
//             //  justify-content: center;
//             //  flex-wrap: wrap;
//             //   letter-spacing: 0.06em;
//             //   text-transform: uppercase;
//             //   color: $white-color;
//             //   padding-top: 118px;
             
              
              
              
//             //   margin-bottom: 40px;
//             //   padding-left: 57px;
//             //   padding-right: 58px;
//             //   margin: 0 auto;
//               }
//             // }
            
//     //  &__btn {

//     //             //  margin-top: 40px;
//     // margin-bottom: 118px;
//     //             // margin-left: auto;
//     //             // margin-right: auto;
//     // margin-left: 120px;
// // margin: 30px auto 0 auto;
// // display: block;
// //  padding: 10px 30px;

//                  //     //  margin-left: 140px;
//                  //     //  margin-right: 140px;

//                 //   }
//             // }
//         @media screen and (min-width: 768px) and (max-width: 1200px) {
//             .hero {
//                 background-image: linear-gradient(rgba(47, 48, 58, 0.4),
//                         rgba(47, 48, 58, 0.4)),
//                     url('../images/hero-background/hero-bg-tablet.jpg');
//                 background-size: cover;
//                 background-repeat: no-repeat;
//                 overflow: auto;
//                 padding-right: 186px;
//                 padding-left: 186px;

               
//                     padding-top: 118px;
//                     padding-bottom: 118px;
                
//             }
//               .main-header {

//                   font-weight: 900;
//                   font-size: 44px;
//                   line-height: 1.364;
//                   text-align: center;
//                   letter-spacing: 0.06em;
//                   text-transform: uppercase;
//                   color: $white-color;
//                   //    align-items: center;
//                   margin-bottom: 40px;
//                   width: 696px;
//                   height: 120px;
//                   //    margin-left: auto;
//                   //    margin-right: auto;
//                   margin: 0 auto;
//                   flex-grow: 1;
//               }

//         }

//         //  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
//         //  screen and (min-resolution: 192dpi) and (min-width: 768px),
//         //  screen and (min-resolution: 2dppx) and (min-width: 768px) {
//         //      .hero {
//         //          background-image: url('../images/hero-background/hero-bg-tablet@2x.jpg');

//         //      }}

//     //  @media screen and (min-width:768px) {
//     //           .hero {
//     //             background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//     //                  url('../images/hero-background/hero-bg-tablet.jpg');
//     //                  background-size: 768px 400px;
//     //                  background-repeat: no-repeat;
//     //                  background-position: center top;
//     //                   padding-top: 119px;
//     //                   padding-right: 186px;
//     //                   padding-bottom: 118px;
//     //                   padding-left: 186px;
//     //          }
//     //          }
//              @media screen and (min-width:1200px){
//                  .hero {
//                      background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//                          url('../images/hero-background/background-img.jpg');
//                      background-size: 1600px 600px;
//                      background-repeat: no-repeat;
//                      background-position: center;
//                         background-size: cover;
//                         background-repeat: no-repeat;
//                         padding-top: 200px;
//                         padding-right: 452px;
//                         padding-left: 452px;
//                         padding-bottom: 280px;
//                         margin: 0 auto;
                
//                         // padding-top: 200px;
                
//                         // padding-bottom: 280px;
                     
                   


//                  }
//                   .main-header {
        
//                      font-weight: 900;
//                       font-size: 44px;
//                      line-height: 1.364;
//                      text-align: center;
//                      letter-spacing: 0.06em;
//                      text-transform: uppercase;
//                      color: $white-color;
//                         //    align-items: center;
//                            margin-bottom: 40px;
//                            width: 696px;
//                            height: 120px;
//                         //    margin-left: auto;
//                         //    margin-right: auto;
//                          margin: 0 auto;
//                          flex-grow: 1;
//                     }
                 
//              }

//     //  .main-header {
//     //      font-weight: 900;
//     //      font-size: 26px;
//     //      line-height: 1.615;
//     //      text-align: center;
//     //       width: 365px;
//         // align-items: center;
//         // justify-content: center;
//         // flex-wrap: wrap;
//         //  letter-spacing: 0.06em;
//         //  text-transform: uppercase;
//         //  color: $white-color;
//         //  padding-top: 118px;
//         //  margin: 0 auto;
//     //  }
//     //  @media screen and (min-width:768px) {
//     //      .hero {
//     //          background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//     //              url('../images/hero-background/hero-bg-tablet.jpg');
//     //      }
//     //     }
// //    @media screen and (min-width:1200px) {
// //        .hero {
// //            background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
// //                url('../images/hero-background/background-img.jpg');
// //        }
// //          .main-header {
// //              align-items: center;
// //               font-weight: 900;
// //              font-size: 44px;
// //              line-height: 1.364;
// //              text-align: center;
// //               letter-spacing: 0.06em;
// //              text-transform: uppercase;
// //              color: $white-color;
// //              width: 696px;
// //              padding-bottom: 30px;
// //          }
// //          }


// // .hero {
// //     background-image: linear-gradient(rgba(47, 48, 58, 0.4),
// //             rgba(47, 48, 58, 0.4)),
// //         url('../images/hero-background/background-img.jpg');
// //     background-repeat: no-repeat;
// //     background-size: 1600px;
// //     background-position: center;
// // }