.logo {
    margin-right: 93px;
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: $main-color;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin: 0 auto;
 
}

.logo__accent-text {
        color: $main-color;
    }

    .logo--light-theme {
        color: $main-font-color;
    }

     .logo--dark-theme {
        color: $white-color;      
    }


 @media screen and (max-width: 767px){
.logo--dark-theme {
    padding-top: 24px;
}
 }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        .logo--modifier {
            margin-left: 100px;    
    }
}


    @media screen and (min-width: 1200px){
        .logo--dark-theme {
         margin-right: 80px;
        }
    }
