
.main-header{
     font-weight: 900;
     font-size: 26px;
     line-height: 1.615;
     letter-spacing: 0.06em;
     text-transform: uppercase;
     color: $white-color;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
     }



