.social {
    display: flex;
    align-items: center;
    justify-content: center;
}
.social__link {
    display: flex;
    width: 44px;
    height: 44px;
    background-color: $white-color;
    fill: #afb1b8;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-left: 10px;
    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus
     {
        fill: $white-color;
        background-color: $main-color;
    }
}
.social__icon {
    width: 20px;
    height: 20px;
}


