

.container {
    max-width: 480px;
    margin: 0 auto;
    width: 100%;
    display: block;
        // padding: 60px 0;
        // display: flex;
        // flex-wrap: wrap;
        // flex-direction: column;
        // align-items: center;
    
}

@media screen and (min-width: 768px) and (max-width: 1200px) {

    .container {
        width: 786px;
        margin: 0 auto;
            padding: 60px 15px;
        

        
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
        margin: 0 auto;
            padding: 60px 15px;
            display: flex;
            justify-content: center;
            flex-direction: column;
         
        
    }
}







// .container {
//     width: 100%;
//     padding: 0 10px;}

// @media screen and (min-width: 768px) and (max-width: 1200px) {
//    .container {
//     //    width: 768px;
//        margin: 0 auto;
//     //    padding: 0 15px;
// //     .hero & {
// //     // //     //    height: 400px;
// // //  display: flex;
// // // justify-content: space-between;
// // // align-items: center;
// // // flex-direction: column;

// //     padding-bottom: 108px;
// //        }
//    }
//      }

// // @media screen and (min-width: 768px) {
// //     .container {
// //         max-width: 768px;
// //         padding: 0 15px;
// //     }
// // }

// @media screen and (min-width: 1200px) {
//     .container {
//         max-width: 1200px;
//         padding: 0 15px;
      
//     }
// }



// // .container {
    
// //     padding-right: 15px;
// //     padding-left: 15px;
// //     align-items: center;
// //     margin: 0 auto;
    
// //  .hero & {
// //      height: 400px;
// //      display: flex;
// //      justify-content: space-between;
// //      flex-direction: column;
// //      margin: 0 auto;
// //  }
// //      .header & {
// //          display: flex;
// //          justify-content: space-between;
// //          height: 80px;
// //      }
// //     }

// // @media screen and (max-width: 1200px) {
// //     .container {
// //         width: 100vw;
// //     }
// // }

// // // 
// // .container {
// //     max-width: 100vw;
// //      padding: 0 15px;
// //     //  align-items: center;
// //     //  margin: 0 auto;
// // }
// // @media screen and (max-width: 480px) {
// //     .container {
// //         max-width: 480px;
// //         padding: 0 15px;
// //         // align-items: center;
// //         margin: 0 auto;

// //     }
// //      .hero & {
// //          height: 400px;
// //          display: flex;
// //             //    display: flex;
// //             //      flex-direction: column;
// //             //    width: 1200px;
// //             //     justify-content: center;
// //             //     align-items: center;
// //             //    padding-top: 200px;
// //             //     padding-right: 452px;
// //             //    padding-bottom: 200px;
// //             //  padding-left: 452px;
// //            }
// // }

// // @media screen and (min-width: 760px){
// //     .container{
// //         max-width: 760px;
// //         padding: 0 15px;
// //         align-items: center;
// //         margin: 0 auto;

// //     }
// // }


// // @media screen and (min-width: 1200px) {
// //     .container {
// //         max-width: 1200px;
// //         padding: 0 15px;
// //         align-items: center;
// //         margin: 0 auto;
// //     }
// // }


// // .container {
// //     width: 1200px;
// //     padding: 0 15px;
// //     align-items: center;
// //     margin: 0 auto;
// //     .header & {
// //         display: flex;
// //         align-items: center;
// //         padding-top: 32px;
// //         padding-bottom: 32px;
// //     }
// //     .hero & {
// //         display: flex;
// //         flex-direction: column;
// //         width: 1200px;
// //         justify-content: center;
// //         align-items: center;
// //         padding-top: 200px;
// //         padding-right: 452px;
// //         padding-bottom: 200px;
// //         padding-left: 452px;
// //     }
// //     .footer & {
// //         display: flex;
// //         align-items: baseline;
// //     }
// // }
